/**
 * Project specific
 */

/* Icon for currency */
img { 
    vertical-align: middle;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

button {
    min-width: 100px;
}

#amount {
    min-width: 120px;
}